table#caplog-headers {
  margin-top: 1em;
  margin-bottom: 1em;
}

table#caplog-headers th {
  text-align: right;
}
table#caplog-headers td {
  text-align: left;
  padding-left: 1em;
}

table#caplog-rows td.caplog-action-removed {
  color: red; 
}
table#caplog-rows td.caplog-action-added {
  color: green; 
}
